<form [formGroup]="dataForm" (ngSubmit)='onSubmit()'>
    <h2>Now create your account</h2>
    <div>
        <label for="email">Login</label>
        <input class="data" placeholder="Email" type="email" id="email" formControlName="email" required>
        <div *ngIf="dataForm.get('email')?.errors && dataForm.get('email')?.touched">
          <p *ngIf="dataForm.get('email')?.errors?.required" >Email обязательное поле</p>
          <p *ngIf="dataForm.get('email')?.errors?.email">Неправильный формат email</p>
        </div>
      </div>
    <div class="importField">
        <label>Password</label>
        <input class="data" placeholder="Enter password" formControlName="password"/>
        <div *ngIf="dataForm.get('password')?.errors && dataForm.get('password')?.touched">
            <p *ngIf="dataForm.get('password')?.errors?.required">Поля обязательно к запаолнению</p>
        </div>
    </div>
    <div class="importField">
        <label>Type password again</label>
        <input class="data" placeholder="Enter password" formControlName="secondPassword"/>
        <div *ngIf="(dataForm?.errors || dataForm.get('secondPassword')?.errors) && dataForm.get('secondPassword')?.touched" style="color: red;">
            <p *ngIf="dataForm.get('secondPassword')?.errors?.required">Поля обязательно к запаолнению</p>
            <p *ngIf="dataForm?.errors?.invalidPass">Пароль не соответствует паролю выше</p>
        </div>
    </div>
    <button class="submit" type="submit">Sign Up</button>
    <a class="toAuth" routerLink="/auth">Sign in</a>
</form>
